{% extends 'admin_base_site.html'%}
{% block title%}Score Values | Andalus{% endblock %}


{% block content %}
{% load static %}
{% load widget_tweaks %}
<div class="col-sm-6 col-centered" style="margin-top: 2em;">
    <h5 class="ur-card-title" style="font-size: 2em;">score values list 
    </h5>
    <table class="table table-striped">
        <thead class="table-info">
            <tr>
                <th ><strong>Name</strong></th>
                <th ><strong>Value</strong></th>
            </tr>
        </thead>
        {% for i in score_values %}
            <tr>
                <td>
                    <a href="{% url 'edit_score_values' i.id %}" style="text-decoration: none;">{{i.name}}</a>
                </td>
                <td >{{i.value}}</td>
            </tr>
        {% endfor %}
    </table>  

    <!-- pagination -->
    {% if score_values.has_other_pages %}
        {% load proper_paginate %}
        {% load url_replace %}
        <ul class="pagination">
            {% if score_values.number == 1 %}
                <li class="disabled"><span>⇤</span></li>
            {% else %}
                <li><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
            {% endif %}
            {% if score_values.has_previous %}
                
                <li><a class="page-link" href="?{% url_replace request 'page' score_values.previous_page_number %}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator|proper_paginate:score_values.number%}
                {% if score_values.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if score_values.has_next %}
                <li><a class="page-link" href="?{% url_replace request 'page' score_values.next_page_number %}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            {% if score_values.number == paginator.num_pages %}
                <li class="disabled"><span>⇥</span></li>
            {% else %}
                <li><a class="page-link" href="?{% url_replace request 'page' paginator.num_pages %}">⇥</a></li>
            {% endif %}
        </ul>
    {% endif %}
    <!-- end pagination -->

</div>

{% endblock %}

   
